*.env
nfl_data/
**/__pycache__/ 
mlruns/ 
src/mlruns/
nfl_venv/ 
venv/
 
data/processed/**/*.parquet
data/splits/**/*.json
# Only keep V1's Data
!data/**.csv 

# CSV is from nflreadR R Library
src/data/**/*.csv